<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 07.02.2023, 12:14</time>
            <h2><a href="">Do you love music?</a></h2>
            <p>Music is the most awesome thing in the world.</p>
        </article>

        <article>
            <time>published: 07.02.2023, 12:14</time>
            <h2><a href="">Another reason why music is amazing</a></h2>
            <p>Ahhhhh ahhhh we fade to grey</p>
        </article>
    </body>
</html>